<div id="carousel-images" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://wallpaper.dog/large/20407221.jpg" class="d-block w-100" alt="https://wallpaper.dog/large/20407221.jpg">
      </div>
      <div class="carousel-item">
        <img src="https://wallpaperaccess.com/full/24573.jpg" class="d-block w-100" alt="https://wallpaperaccess.com/full/24573.jpg">
      </div>
      <div class="carousel-item">
        <img src="https://wallpapercave.com/wp/wp5237317.jpg" class="d-block w-100" alt="https://wallpapercave.com/wp/wp5237317.jpg">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-images" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel-images" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>