.welcomePage{
    & .page{
        & .welcome-presentation{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 4rem;
            & .welcome-presentation-image {
                min-width: 25rem;
                max-width: 30rem;
                & img{
                    width: 100%;
                }
            }
            & .welcome-presentation-text{
                min-width: 25rem;
                max-width: 70rem;
                font-size: 1.4rem;
                & h3 {
                    font-size: 2.5rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}