.dashboardPage__item{
    width: 15rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: $primary-color;
    color: $text-color-secodary;
    box-shadow: $box-shadow;
    transition: $transition transform;
    cursor: pointer;
    & span{
        font-size: 1.4rem;
    }
    & img {
        width: 5rem;
    }
    &:hover{
        transform: scale(1.05);
    }
}
