
*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style: none;
}
.swal2-loader{
    border-color: $primary-color rgba(0,0,0,0) $primary-color rgba(0,0,0,0) !important;
}
.page{
    min-height: $page-height;
    max-width: 100vw;
}